<form class="row g-3">
    <div class="col-md-6">
      <label for="UHID" class="form-label">{{UHID}}</label>
      <input type="text" class="form-control" id="UHID" value="{{UHID}}">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Consulting Doctor</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Provisional Diagnosis</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Diagnosis">
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Submit</button>
      <button class="btn btn-outline-dark" data-bs-target="#RegisterModalToggle" data-bs-toggle="modal">
        Back
      </button>
    </div> 
  </form>