<!-- <div class="card text-center">
    <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" ngModel name="UHID" placeholder="UHID" aria-label="UHID">
                  </div>
                <div class="col">
                  <input type="text" class="form-control" ngModel name="firstname" required placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" ngModel name="age" required placeholder="Age" aria-label="Age">
                </div>
                  <div class="col">
                    <select id="sex" class="form-select" ngModel name="sex" placeholder="Sex" aria-label="Sex">
                        <option selected>Choose...</option>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" ngModel name="phone" placeholder="Phone no" aria-label="phone no">
                  </div>
                  <div class="col">
                      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Search</button>
              </div>
            </div>
        </form>
    </div>
</div> -->
<div class="row gy-5">
  <div class="col-md-8 offset-md-2">
    <div class="card text-center">
      <div class="card-body">
        <form class="form-select-lg" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="col-auto">
            <a
              class="btn btn-outline-dark form-control form-control-lg"
              data-bs-toggle="modal"
              href="#RegisterModalToggle"
              role="button"
              >New UHID</a
            >
          </div>
          <div class="col-auto">
            <label for="serach-bar" class="visually-hidden"
              >UHID, Name or Phone Number</label
            >
            <input
              type="text"
              class="form-control form-control-lg"
              id="search-bar"
              ngModel
              name="searchText"
              placeholder="Search UHID, NAME or Phone No"
            />
          </div>
          <div class="col-auto">
            <button
              type="submit"
              class="btn btn-outline-dark form-control form-control-lg"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
    <div
      class="modal fade"
      id="RegisterModalToggle"
      aria-hidden="true"
      aria-labelledby="RegisterModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="RegisterModalToggleLabel">
              Register New UHID
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <app-create-new-form></app-create-new-form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="RegisterModalToggle2"
      aria-hidden="true"
      aria-labelledby="RegisterModalToggleLabel2"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="RegisterModalToggleLabel2">
              Consultation
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <app-consulation-details></app-consulation-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <a
  class="btn btn-primary"
  data-bs-toggle="modal"
  href="#RegisterModalToggle"
  role="button"
  >Open first modal</a
> -->
<router-outlet></router-outlet>
