<div class="card text-center">
    <div class="card-body">
        <form action="search-uhid" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="UHID" aria-label="UHID">
                  </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Age" aria-label="Age">
                </div>
                  <div class="col">
                    <select id="sex" class="form-select">
                        <option selected>Choose...</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Pediatric</option>
                        <option>Neonates</option>
                      </select>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Phone no" aria-label="phone no">
                  </div>
                  <div class="col">
                      <button class="btn btn-primary" type="submit">Sumbit</button>
              </div>
            </div>
        </form>
       
    </div>
</div>
<app-results></app-results>

