<!-- <div class="card text-center">
    <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" ngModel name="UHID" placeholder="UHID" aria-label="UHID">
                  </div>
                <div class="col">
                  <input type="text" class="form-control" ngModel name="firstname" required placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" ngModel name="age" required placeholder="Age" aria-label="Age">
                </div>
                  <div class="col">
                    <select id="sex" class="form-select" ngModel name="sex" placeholder="Sex" aria-label="Sex">
                        <option selected>Choose...</option>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" ngModel name="phone" placeholder="Phone no" aria-label="phone no">
                  </div>
                  <div class="col">
                      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Search</button>
              </div>
            </div>
        </form>
    </div>
</div> -->
<div class="card text-center">
  <div class="card-body">
<form class="row form-select-lg" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="col-auto">
          <label for="serach-bar" class="visually-hidden"
          >UHID, Name or Phone Number</label
          >
          <input
          type="text"
          class="form-control form-control-lg"
          id="search-bar"
          ngModel
          name="searchText"
          placeholder="Search UHID, NAME or Phone No"
        />
      </div>
      <div class="col-auto">
        <button
        type="submit"
          class="btn btn-outline-dark form-control form-control-lg"
        >
          Search
        </button>
      </div>
    </form>
    <button
    type="button"
    class="btn btn-outline-dark form-control form-control-lg">
    New UHID
  </button>
</div>
  </div>


<router-outlet></router-outlet>
